/* This CSS file is used for styling the index page. */

.name-writer h1 {
    animation: 
        typing 2s steps(40, end),
        blinking-caret .75s step-end infinite;
    border-image: linear-gradient(to top, white 50%, transparent 50%);
    border-image-slice: 1;
    border-right: 2px solid white;
    display: flex;
    font-size: 36px;
    height: 50px;
    letter-spacing: .15em;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 50px;
    white-space: nowrap;
    width: 593px;
}

@keyframes typing {
    from {width: 0}
    to {width: 593px}
}

@keyframes blinking-caret {
    from, to {border-image: transparent}
    50% {border-image: linear-gradient(to top, white 50%, transparent 50%)}
}
